services:
  db:
    image: postgres:15-alpine
    container_name: postgres_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./certs:/etc/ssl/certs
      - ./postgres/postgresql.conf:/etc/postgresql/postgresql.conf
    command: >
      sh -c "chown postgres:postgres /etc/ssl/certs/server.key &&
             chmod 600 /etc/ssl/certs/server.key &&
             exec docker-entrypoint.sh postgres -c config_file=/etc/postgresql/postgresql.conf"
    depends_on:
      cert-gen:
        condition: service_completed_successfully
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    restart: always

  redis:
    image: "redis:alpine"
    container_name: redis
    restart: always

  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: django_web
    restart: always
    command: gunicorn --bind 0.0.0.0:8000 --forwarded-allow-ips="*" backend_project.wsgi
    volumes:
      - static_volume:/app/staticfiles_collected
      - ./media:/app/media
      - frontend_volume:/app/frontend_static
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - SECRET_KEY=${SECRET_KEY}
      - DJANGO_ALLOWED_HOSTS=${DJANGO_ALLOWED_HOSTS}
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
      - GEMINI_API_KEY=${GEMINI_API_KEY}
    depends_on:
      - redis
      - db

  celery:
    build:
      context: .
      dockerfile: Dockerfile.celery
    container_name: celery_worker
    restart: always
    command: celery -A backend_project worker -l info
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - SECRET_KEY=${SECRET_KEY}
      - DJANGO_ALLOWED_HOSTS=${DJANGO_ALLOWED_HOSTS}
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
      - GEMINI_API_KEY=${GEMINI_API_KEY}
    # DODAJ ZALEŻNOŚĆ OD BAZY DANYCH
    depends_on:
      - redis
      - web
      - db

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/var/www/static/
      - ./media:/var/www/media/
      - frontend_volume:/var/www/frontend/
    depends_on:
      - web

  cert-gen:
    image: alpine:latest
    container_name: cert_gen
    volumes:
      - ./certs:/certs
    command: >
      sh -c "apk add --no-cache openssl &&
             if [ ! -f /certs/server.key ]; then
               openssl req -new -newkey rsa:4096 -days 365 -nodes -x509 \
                 -subj '/C=PL/ST=Warsaw/L=Warsaw/O=QuizApp/CN=localhost' \
                 -keyout /certs/server.key -out /certs/server.crt &&
               chmod 600 /certs/server.key;
             fi"

volumes:
  # NOWY WOLUMEN DLA BAZY DANYCH
  postgres_data:
  static_volume:
  media_volume:
  frontend_volume:
